<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Account Details</h1>
    <p>Gebruikersnaam: <%= account.gebruikersNaam %></p>
    <p>Email: <%= account.email %></p>
    <p>Voornaam: <%= account.voorNaam %></p>
    <p>Achternaam: <%= account.achterNaam %></p>
    <p>Telefoon Nummer: <%= account.telefoon %></p>
    <p>Gebortedatum: <%= account.gd %></p>
    <p>Adres: <%= account.adres %></p>
</body>
</html>